<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.rainynight.site.storage.entity.Storage">

    <insert id="insert" parameterType="top.rainynight.site.storage.entity.Storage">
         insert into archive(name,body) values(#{name},#{body})
    </insert>

    <select id="select" resultType="top.rainynight.site.storage.entity.Storage" parameterType="top.rainynight.site.storage.entity.Storage">
        select * from archive where name=#{name}
    </select>
</mapper>
