<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <import resource="spring-mvc.xml"/>
    <import resource="spring-cxf.xml"/>
    <import resource="spring-security.xml"/>

    <context:property-placeholder location="classpath:system.properties"/>

    <context:component-scan base-package="top.rainynight.site.*.service" use-default-filters="false">
        <!-- 扫描符合@Service的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>

    <!-- enables scanning for @Transactional annotations -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="maxActive" value="${connection_pools.maxActive}" />
        <property name="maxIdle" value="${connection_pools.maxIdle}" />
        <property name="maxWait" value="${connection_pools.maxWait}" />
        <property name="defaultAutoCommit" value="${connection_pools.defaultAutoCommit}" />
        <property name="removeAbandoned" value="${connection_pools.removeAbandoned}" />
        <property name="removeAbandonedTimeout" value="${connection_pools.removeAbandonedTimeout}" />
        <property name="validationQuery" value="${connection_pools.validationQuery}" />
    </bean>

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="top.rainynight.site.*.dao"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:top/rainynight/site/**/dao/*.xml"/>
    </bean>

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
        <property name="validationMessageSource" ref="validationMessageSource"/>
    </bean>

    <!-- 国际化的消息资源文件（本系统中主要用于显示/错误消息定制） -->
    <bean id="validationMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找  -->
                <value>classpath:messages/validationMessages</value>
                <value>classpath:org/hibernate/validator/ValidationMessages</value>
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="false"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="60"/>
    </bean>

    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheFactoryBean"/>

    <aop:config>
        <aop:pointcut id="loginPointcut" expression="execution(public * top.rainynight.core.ServiceBasicSupport.*(..)) or execution(public * top.rainynight.site..service..*.*(..))"/>
        <aop:aspect ref="logRecorder" >
            <aop:after-returning pointcut-ref="loginPointcut" method="record" returning="returnValue"/>
        </aop:aspect>
    </aop:config>
    <bean id="logRecorder" class="top.rainynight.site.core.util.LogRecorder"/>
</beans>
