<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
    default-autowire="byName">

    <import resource="classpath:spring-cxf.xml"/>
    <import resource="spring-security.xml"/>

    <context:component-scan base-package="top.rainynight.site">
        <!-- 扫描符合@Service的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>

	<aop:config>
        <aop:pointcut id="loginPointcut" expression="execution(public * top.rainynight.core.ServiceBasicSupport.*(..)) or execution(public * top.rainynight.site..service..*.*(..))"/>
        <aop:aspect ref="logRecorder" >
            <aop:after-returning pointcut-ref="loginPointcut" method="record" arg-names="object" returning="object"/>
        </aop:aspect>
	</aop:config>

    <!-- enables scanning for @Transactional annotations -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="top.rainynight.site.blog.dao"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--<property name="mapperLocations" value="classpath:top/rainynight/site/**/*.xml"/>-->
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">

        <!-- JAE
        <property name="url" value="jdbc:mysql://mysql.jae.jd.com:4066/dubuyuyem_mysql_n35t3ipl"/>
        <property name="username" value="pC4lp7GM" />
        <property name="password" value="ynLDv5B6E0qa" />
        -->

        <!-- SAE
        <property name="url" value="jdbc:mysql://w.rdc.sae.sina.com.cn:3307/app_snowynight"/>
        <property name="username" value="jyw2ym5n4j" />
        <property name="password" value="01ij34w0154zlky05l3x3m43w4mj43lz2x0lm24j" />
        -->

        <!-- local -->
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
        <property name="username" value="sllx" />
        <property name="password" value="123456" />


        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="maxActive" value="100" />
        <property name="maxIdle" value="30" />
        <property name="maxWait" value="1000" />
        <property name="defaultAutoCommit" value="true" />
        <property name="removeAbandoned" value="true" />
        <property name="removeAbandonedTimeout" value="80" />
        <property name="validationQuery" value="select 1 from dual" />
    </bean>

    <!--@see{ org.springframework.web.multipart.support.MultipartFilter#DEFAULT_MULTIPART_RESOLVER_BEAN_NAME }-->
    <bean id="filterMultipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <!-- <property name="maxUploadSize" value="204800"/> -->
    </bean>

    <bean id="logRecorder" class="top.rainynight.core.util.LogRecorder"/>
</beans>
