<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="userDao" class="org.sllx.site.user.dao.impl.UserDaoImpl" parent="daoSupport"/>

    <bean id="daoSupport" class="org.sllx.site.core.dao.MyBatisDaoSupport">
        <property name="sqlSession" ref="sqlSessionTemplate"/>
    </bean>
</beans>