<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="archiveDao" class="org.sllx.site.blog.dao.impl.ArchiveDaoImpl" parent="commonDao"/>

	<bean id="ardticleDao" class="org.sllx.site.blog.dao.impl.ArticleDaoImpl" parent="commonDao"/>

    <bean id="articleclassDao" class="org.sllx.site.blog.dao.impl.ArticleclassDaoImpl" parent="commonDao"/>

    <bean id="commonDao" class="org.sllx.site.core.base.BaseDaoImpl">
        <property name="sqlSession" ref="sqlSessionTemplate"/>
    </bean>
</beans>