<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<bean id="blogService" class="top.rainynight.site.blog.service.impl.BlogServiceImpl">
		<property name="ardticleDao" ref="ardticleDao"/>
        <property name="articleclassDao" ref="articleclassDao"/>
    </bean>
    <bean id="archiveService" class="top.rainynight.site.blog.service.impl.ArchiveServiceImpl">
        <property name="archiveDao" ref="archiveDao"/>
    </bean>
</beans>