<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sllx.site.blog.entity.Archive">


    <insert id="insert" parameterType="org.sllx.site.blog.entity.Archive">
         insert into archive(name,name) values(#{name},#{body,jdbcType="BLOB"})
    </insert>
</mapper>
