<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.rainynight.site.blog.entity.Articleclass">

    <select id="select" resultType="top.rainynight.site.blog.entity.Articleclass" parameterType="top.rainynight.site.blog.entity.Articleclass">
        select * from articleclass
        <where>
            <if test="classid!=null">classid=#{classid}</if>
            <if test="userid!=null">AND userid=#{userid}</if>
            <if test="name!=null">AND name=#{name}</if>
        </where>
    </select>

    <insert id="insert" parameterType="top.rainynight.site.blog.entity.Articleclass">
         insert into articleclass(userid,name) values(#{userid},#{name})
    </insert>

    <delete id="delete" parameterType="top.rainynight.site.blog.entity.Articleclass">
        delete from articleclass where classid = #{classid}
    </delete>

    <update id="update" parameterType="top.rainynight.site.blog.entity.Articleclass">
        update articleclass
         <set>
             <if test="classid!=null">classid=#{classid}</if>
             <if test="userid!=null">userid=#{userid}</if>
             <if test="name!=null">title=#{name}</if>
         </set>
         where classid = #{classid}
    </update>
</mapper>
