<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<bean id="userDao" class="org.sllx.site.user.dao.impl.UserDaoImpl" parent="commonDao"/>

    <bean id="commonDao" class="org.sllx.site.overall.common.CommonDaoImpl">
        <property name="sqlSession" ref="sqlSessionTemplate"/>
    </bean>
</beans>